/* VENDOR */
@import './partials/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');


/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMONS */
.container {
    width: 85%;
    margin: 0 auto;
}
ul {
    list-style: none;
    a {
        text-decoration: none;
    }
}


/* TYPOGRAPHY */
body {
    font-family: 'Roboto Condensed', sans-serif;
}