/* VENDOR */
@import './partials/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');


/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMONS */
.container {
    width: 75%;
    margin: 0 auto;
}
section {
    padding: 100px 0;
}
ul {
    list-style: none;
    a {
        text-decoration: none;
    }
}
.btn {
    font-weight: 700;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    &.btn1 {
        background-color: $btn1;
        &:hover {
            background-color: $hoverBtn1;
        }
    }
    &.btn2 {
        background-color: $btn2;
        border: 1px solid $gray;
        &:hover {
            background-color: $hoverBtn2;
            color: black;
        }
    }
    &.btn3 {
        background-color: $btn3;
        &:hover {
            background-color: $hoverBtn1;
        }
    }
}
.play-btn {
    text-align: center;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    i {
        color: $btn1;
    }
}


/* TYPOGRAPHY */
body {
    font-family: 'Roboto Condensed', sans-serif;
}
.red-text {
    font-size: 1.25rem;
    color: $hoverBtn1;
}
.yellow-text {
    font-weight: 700;
    color: $yellow;
}
.blue-text {
    font-size: 1.25rem;
    color: $btn1;
}
.gray-text {
    color: $gray;
}
h2 {
    font-size: 2.625rem;
    font-weight: 400;
    margin-top: 20px;
}
h4 {
    font-size: 1.375rem;
    color: $white;
}
h5 {
    font-size: 1.25rem;
    font-weight: 400;
}
.quote-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    .quote-content {
        width: 60%;
        text-align: center;
        p {
            color: $white;
            font-size: 1.875rem;
            line-height: 1.4;
        }
    }
}